h1 {
 color : black;
 font-size:350%;
}
h1,h2,h3,li,footer,p{
 text-align : center;
}

li {
 display : inline-block;
width: 170px;
height: 50px;
}
ul{
list-style-type: none;
}
div,img {
width: 600px ;
margin-right : auto;
margin-left : auto;

}


